

ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;

}



.container {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: #E88513;
  border-color: black;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1200px;
  width: 60px;
  height: 60px;
  background: #FFB74B;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(233, 63, 63, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}


.container input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1200px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: gray;
  color: white;
  text-shadow: 0 0 10px rgb(206, 76, 16);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0rgb(209, 207, 206), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
  left: 60%;
}
.container input:focus ~ .search {
  right: 0px;
  background: #7e7e7e7e;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}
body {
    font-family: "Lato", sans-serif;
  }

  

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E88513;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-color: black;
    opacity: 0.9;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .sidenav a:hover {
    color: #e92828;

  }

  p{
    padding-top:1.5%;
    padding-left: 36%;
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    cursor: auto;
    font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* Dropdown Button */
.dropbtn {
  background-color: #E88513;
  color: white;
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #E88513;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-left: 20px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E88513;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
  
  @media (max-width: 576px) {
    .cosa{
      padding: 43px 15px 57px 20px;
    }
  }
  
  @media (max-width: 480px) {
     body{
      padding: 43px 15px 57px 0px;
    }
  
    .regular slider {
      text-align: left;
      position: unset;
      top: unset;
      left: unset;
      width: 100%;
      padding: 0 5px;
    }
  }

  @media (max-width: 720px) {
    html {
      width: 100%;
      height: 100%;

    }

    .container {
      top: 0px;
      left: 0;
      right: 0;
      width: 100%;
      height: 80px;
      background-color:rgb(252, 158, 18);
    }
    .container .search {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 80%;
      width: 60px;
      height: 60px;
      background: rgb(0, 0, 0);
      border-radius: 50%;
      transition: all 1s;
      z-index: 4;
      box-shadow: 0 0 25px 0 rgba(114, 106, 106, 0.4);
    }
    .container .search:hover {
      cursor: pointer;
    }
    .container .search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    .container .search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
    
    
    .container input {
      font-family: 'Inconsolata', monospace;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 80%;
      width: 40px;
      height: 40px;
      outline: none;
      border: none;
      background: rgb(0, 0, 0);
      color: white;
      text-shadow: 0 0 10px rgb(206, 76, 16);
      padding: 0 40px 0 20px;
      border-radius: 30px;
      box-shadow: 0 0 25px white, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
      transition: all 1s;
      opacity: 0;
      z-index: 5;
      font-weight: bolder;
      letter-spacing: 0.1em;
      cursor:pointer;
    }
    .container input:hover {
      cursor: pointer;
    }
    .container input:focus {
      width: 200px;
      opacity: 1;
      cursor: text;
      left: 15%;
    }
    .container input:focus ~ .search {
      right: 0px;
      background: #7e7e7e7e;
      z-index: 6;
      cursor: pointer;
    }
    .container input:focus ~ .search::before {
      top: 0;
      left: 0;
      width: 25px;
      cursor: pointer;
    }
    .container input:focus ~ .search::after {
      top: 0;
      left: 0;
      width: 25px;
      height: 2px;
      border: none;
      background: white;
      border-radius: 0%;
      transform: rotate(-45deg);
    }
    .container input::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }

    .regular{
      width: 100%;
    }
    
    .sidenav {
      height: 100%;
      width: 0;
      position: top;
      z-index: 1;
      top: 0;
      left: 0;
      background-color:rgb(252, 158, 18);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    
    body {
        font-family: "Lato", sans-serif;
      }
    

    }
   

  
